.paragraph{
    background-color: red;
    /* position: fixed; */
    position: sticky;
    top: 0;
    left: 0;
 }
.container{
    width: 700px;
    height: 500px;
    margin: 40px auto;
    border: 2px solid black;
}
.item{
    float: left;
}
.item1{
    width: 150px;
    height: 150px;
    background-color: yellow;
    position: absolute;
    top: 50px;
    /* left: 30px; */
} 
.item2{
    width: 150px;
    height: 150px;
    background-color: red;
    /* position: absolute; */
    /* top: 150px; */
}
.item3{
    width: 150px;
    height: 150px;
    background-color: green;
    /* position: absolute; */
    /* top: 150px; */
}
*{
    margin: 0;
    padding: 0;
}
nav{
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black;
    display: flex;
}
.nav-logo{
    width: 30%;
    /* background-color: brown; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-logo p{
    color: blue;
    font-size: 25px;
}
.nav-logo p span{
    color: chartreuse;
}
ul{
    width: 70%;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
ul li{
    transition-property: color;
    transition-duration: 2s;
}
ul li:hover{
    color: orangered;
    cursor: pointer;
    
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn button{
    padding: 10px 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white
}
.nav-btn button:hover{
    background-color: burlywood;
    cursor: pointer;
}
.move{
    width: 300px;
    height: 100px;
    background-color: yellow;
    transition-property: all;
    transition-duration: 2s;
    /* transition-timing-function: ease-in-out; */
    /* transition-timing-function: steps(3); */
    transition-timing-function: ease;
    transition-delay: 3s;
}
.move:hover{
    transform: translate(400px);
}
